.textFields {
    width: 100%;
}

.textFields2 {
    display: grid;
    grid-template-columns: .8fr .8fr 1.6fr 1.6fr;
    gap: 1rem;
    width: 100%;
}


.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

@media (max-width: 800px) {
    .formCad {
        height: 100% !important;
    }

    .btn {
        margin-top: 1rem !important;
    }
}